<style>
    .table {
        padding-top: 20px;
        padding: 5px 10px;
        border: 1px double #000;
        background-color: #eee;
        width: 80%;
    }

    span {
        padding: 0 8px;
    }

    .fields {
        display: flex;
        padding: 10px;
    }

    .lab {
        margin-right: 10px;
    }

    #btn {
        margin-left: 10px;
    }
</style>

<h1>User Dashboard</h1>
<h3>Select a query! You do not have to fill in all fields to get the result.</h3>
<form method="POST">
    <div class="fields">
        <label class="lab" for="usertype">Select</label>
        <select id="userlist" id="usertype" name="usertype">
            <option value="">Type of user</option>
            <option value="Customers">Customers</option>
            <option value="Trainers">Trainers</option>
        </select>
    </div>
    <div class="fields">
        <label class="lab" for="userprop">that have</label>
        <select id="userlist2" id="userprop" name="userprop">
            <option value="">Type of property</option>
            <option value="Training">Training</option>
            <option value="Membership">Membership</option>
        </select>
    </div>
    <div class="fields">
        <label class="lab" for="userprop2">and is</label>
        <select id="userlist3" id="userprop2" name="userprop2">
            <option value="">extra field</option>
            <option value="Cancelled">Cancelled</option>
        </select>
    </div>
    <button id="btn" type="submit">Find</button>
</form>
<h2>Complex Query</h2>
<h3>Select all users who have a membership and a training</h3>
<% let elements2=JSON.parse(data2) %>
    <% for(let i=0; i < elements2.rows.length; i++) { %>
        <div class="table">
            <span>Firstname:</span>
            <span>
                <%= elements2.rows[i].firstName %>
            </span>
            <span>Lastname:</span>
            <span>
                <%= elements2.rows[i].lastName %>
            </span>
            <span>Email:</span>
            <span>
                <%= elements2.rows[i].email %>
            </span>
        </div>
        <% } %>
            <h2>Simple Query</h2>
            <h3>Select all users who have the money field = 10</h3>
            <% let elements1=JSON.parse(data1) %>
                <% for(let i=0; i < elements1.rows.length; i ++) { %>
                    <div class="table">
                        <span>Firstname:</span>
                        <span>
                            <%= elements1.rows[i].firstName %>
                        </span>
                        <span>Lastname:</span>
                        <span>
                            <%= elements1.rows[i].lastName %>
                        </span>
                        <span>Email:</span>
                        <span>
                            <%= elements1.rows[i].email %>
                        </span>
                    </div>
                    <% } %>

                        <h2>Third Query</h2>
                        <h3>Select all users who have a membership</h3>
                        <% let elements3=JSON.parse(data3) %>
                            <% for(let i=0; i < elements3.rows.length; i ++) { %>
                                <div class="table">
                                    <span>ID:</span>
                                    <span>
                                        <%= elements3.rows[i].id %>
                                    </span>
                                    <span>Lastname:</span>
                                    <span>
                                        <%= elements3.rows[i].lastName %>
                                    </span>
                                    <span>Email:</span>
                                    <span>
                                        <%= elements3.rows[i].email %>
                                    </span>
                                </div>
                                <% } %>